html{
    height: 100vh;
    overflow: hidden;
}
body{
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #00113c;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sect1, .sect2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}
.sect1::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("bg.jpg") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(1px);
}
.sect1::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("fg.png") top center;
    background-size: cover;
}
.sect1 .text{
    top: 10%;
    transform: translateZ(-0.5px) scale(1.5,1.6) translate(-33%, 10%);
}
.sect2{
    background: #00113c;
}
.text{
    top: 30%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: white;
    text-shadow: 2px 2px 5px black, 5px 5px 70px rgb(46, 33, 33);
    transform: scale(1,1.1) translate(-40%,10%);
}
.info1{
    color: white;
    font-size: 18px;
}
.info2{
    color: white;
    font-size: large;
}

ul{
    background: rgb(29, 21, 21);
    padding: 20px;
}
ul li{
    background: rgb(73, 65, 65);
    color: rgb(223, 223, 223);
    margin: 5px;
    list-style-type: square;
    row-gap: 10px;
}
dt{
    color: lightblue;
    font-weight: bold;
    font-size: 2rem;
}
dl, dd{
    font-size: 1rem;
}
dd{
    margin-bottom: 1em;
}
.interestheader{
    font-size: 2.5rem;
    color: yellow;
}
.break{
    background-color: rgb(20, 104, 104);
    border: 1px solid black;
    color: rgb(24, 8, 8);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
label{
    background-color: rgb(49, 45, 45);
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0.5rem;
}
table, th, td{
    width: 50%;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
}
.shows{
    color: yellow;
}
a:link{
    color: yellow;
}
a:visited{
    color: lightgreen;
}
a:hover{
    color:orange;
}
a:active{
    color:aquamarine;
}
.main{
    cursor: grabbing; 
}
.myshows{
    font-weight: normal;
}
.audio{
    opacity: 90%;
    outline-color: purple;
}
.video{
    visibility: visible;
    widows: 2;
    align-content: center;
    padding-block-start: 5px;
}
.preference{
    user-select:none;
}
.rest{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
}